# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are sumarized.

**Objectives:**
* Popular languages for Data Science
* Commonly used libraries used in Data Science
* Open source tools used in Data Science
* Evaluating arithmetic expressions with Phyton
* Converting minutes to hours with Phyton

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow

| Data Science Tools |
| -------------------|
| MySQL |
| Apache Airflow |
| PixieDust |

### Below are a few examples of evaluating arithmetic expressions in Phyton

In [11]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

minute = 200
hour = 60
convert = minute/hour
print(str(convert),"hours")

3.3333333333333335 hours

## Author
Shidqy Baihaqy El Muhammady